<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the default configuration
        model introduced in .NET Framework 4 -->
      <service name="Ajax.WCF.RandomPresent.RandomPresentService" behaviorConfiguration="metadataBehavior">

        <!-- This endpoint is exposed at the base address provided by host: http://localhost/servicemodelsamples/service.svc  -->
        <endpoint address="" bindingNamespace="http://schemas.ajax/randompresentservice" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingNoSecurity" contract="Ajax.WCF.RandomPresent.IRandomPresentService" />

        <!-- The mex endpoint is exposed at http://localhost/servicemodelsamples/service.svc/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>
    </services>
	<behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	<bindings>
	<!-- soapUI --> 
      	<wsHttpBinding> 
        	<binding name="wsHttpBindingNoSecurity"> 
          	<security mode="None"> 
            		<transport clientCredentialType="None" /> 
            		<message establishSecurityContext="false" /> 
          	</security> 
        	</binding> 
      </wsHttpBinding>
</bindings>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>